.modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#000ea9, #000861);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: .4s ease-in-out;
    z-index: 2;
    text-align: center;
}

.modal button {
    cursor: pointer;
    font-weight: bold;
}

.modal-hidden {
    visibility: hidden;
    transform: translate(-50%, -50%) scale(.01);
}

.modal-title {
    cursor: default;
    color: rgb(237, 187, 62);
    text-shadow: #000430 3px 3px 0;
    background-color: #000b89;
    font-size: calc(3vw + 16px);
    padding: .2em .5em;
    border: solid rgb(237, 187, 62) calc(.2vw + 4px);
    margin-bottom: .2em;
}

.modal-category {
    color: white;
    font-size: calc(2vw + 12px);
    font-style: italic;
    margin-top: 0;
    text-shadow: #000430 3px 3px 0;
}

.modal-question {
    color: white;
    font-weight: bold;
    text-shadow: #000430 calc(.2vw + 3px) calc(.2vw + 3px) 0;
    font-size: calc(4vw + 16px);
    text-transform: uppercase;
}