.board-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: calc(.5em + 1vw);
}

.double-jeopardy-card-used {
    background-color: rgba(244, 200, 43, 0.589);
}