body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

#vid {
    opacity: .5;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    z-index: -3;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}