body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#vid {
    opacity: .5;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    z-index: -3;
}