body {
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

#vid {
    opacity: .5;
    height: 105vh;
    width: 105vw;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    z-index: -3;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media (max-width: 600px) {
    #root {
        justify-content: center;
        align-items: center;
    }
}